// sidebar
$menuText:#ebeff3;
$menuActiveText:#79b8f7;
$subMenuActiveText:#ebeff3; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#45585a;
$menuHover:#324244;

$subMenuBg:#324346;
$subMenuHover:#2a3e42;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
